import '{{TEST_IMPORT}}';
import 'package:zuke_hosted_consumer_fixture/calculator.dart';
import 'package:zuke_hosted_consumer_fixture/hosted_consumer.dart' as generated;
import '{{RUNNER_IMPORT}}';

void main() {
  {{TEST_CALL}}(
    'adds two values',
    {{TEST_BODY}},
    scenario: generated.FeatHosted001Scenarios.all.single,
    evidenceTypes: const ['domain-unit'],
  );
}
